:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #1e1e1e;
    --card-color: #2a2a2a;
    --text-color: #ffffff;
    --header-color: #111;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    --border-radius: 12px;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
    box-shadow: var(--shadow);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-top: 10px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 15px;
    flex-grow: 1;
}

nav a.github-button {
    background-color: #24292e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: auto;
}

nav a.github-button:hover {
    background-color: #444;
}

main {
    margin-top: 90px;
    padding: 20px;
}

.games-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-card {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    animation: fadeInUp 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 170px;
    margin: 0 auto;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--hover-shadow);
}

.game-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: transform var(--transition-speed) ease;
}

.game-card:hover img {
    transform: scale(1.023);
}

.game-card h3 {
    margin: 15px 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: transform var(--transition-speed) ease, color var(--transition-speed) ease;
}

.game-card:hover h3 {
    transform: translateY(-5px);
    color: var(--primary-color);
}

.manutenzione-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #1e1e1e;
    color: #ffffff;
}

.manutenzione-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.manutenzione-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.manutenzione-messaggio {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .games-section {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .game-card {
        height: 250px;
        width: 150px;
    }

    .game-card img {
        height: 130px;
    }

    .game-card h3 {
        font-size: 1rem;
    }

    header h1 {
        font-size: 1.2rem;
    }

    nav a.github-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}